name: first_app_for_test
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter 
  flutter_localizations:
    sdk: flutter 
  provider: ^6.0.1
  hexcolor: ^2.0.5
  curved_navigation_bar: ^1.0.1
  splashscreen: 
  shared_preferences: ^2.0.8
  carousel_pro: ^1.0.0 
  carousel_slider: ^4.0.0
  url_launcher: ^5.7.10
  http: ^0.13.4
  badges: ^2.0.1
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  flutter_staggered_grid_view: ^0.4.1

  
dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
   - lib/assets/Shraims_Logo.jpg
   - lib/assets/F.png
   - lib/assets/I.png
   - lib/assets/T.png
   - lib/assets/HomescreenIcon/Gallery-02.jpg
   - lib/assets/HomescreenIcon/soon-01.jpg
   - lib/assets/HomescreenIcon/Special today-01.jpg
   - lib/assets/HomescreenIcon/Special today-02.jpg
   - lib/assets/HomescreenIcon/icon-01.jpg
   - lib/assets/HomescreenIcon/icon-02.jpg
   - lib/assets/HomescreenIcon/icon-03.jpg
   - lib/assets/HomescreenIcon/icon-04.jpg
   - lib/assets/HomescreenIcon/icon-05.jpg
   - lib/assets/HomescreenIcon/desert_icon.png
   - lib/assets/HomescreenIcon/drink_icon.png
   - lib/assets/HomescreenIcon/family_plates_icon.png
   - lib/assets/HomescreenIcon/speciality_icon.png
   - lib/assets/HomescreenIcon/snacks_icon.png
   - lib/assets/HomescreenIcon/w.jpg
   - lib/assets/HomescreenIcon/L.jpg
   - lib/assets/HomescreenIcon/D.jpg
   - lib/assets/Subcatogry/Crepe & Roll.png
   - lib/assets/Subcatogry/Ice Cream.png
   - lib/assets/Subcatogry/Shraim's Milkshake.png
   - lib/assets/Socialmediaandicon/icon 5-01.png
   - lib/assets/Socialmediaandicon/icon 5-02.png
   - lib/assets/Socialmediaandicon/icon 5-03.png
   - lib/assets/Socialmediaandicon/icon 5-04.png
   - lib/assets/Socialmediaandicon/icon 5-05.png
   - lib/assets/Socialmediaandicon/social media-01.png
   - lib/assets/Socialmediaandicon/social media-02.png
   - lib/assets/Socialmediaandicon/social media-03.png
   - lang/en.json
   - lang/fr.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
